html {
  height: 100%
}

body{
  margin: 0;
  height: 97%;
  font-family: 'Nunito';
  background: #70e1f5;
  background: -webkit-linear-gradient(to top, #ffd194, #70e1f5);
  background: linear-gradient(to top, #ffd194, #70e1f5);
  background-repeat: no-repeat;
  background-size: cover;
}

#chat {
  height: 65%;
  margin: 10px;
}

#chat-window{
  height: 100%;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 15px;
}

#output p{
  font-family: 'Nunito' !important;
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  font-family: 'Nunito' !important;
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  font-family: 'Nunito' !important;
  color: #575ed8;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

.user-input {
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.3);
  width: 96%;
  margin: auto;
}

input,
textarea {
  margin: auto;
  padding: 10px 10px;
  border: 0;
  display: block;
  width: 95%;
  background-color: rgba(245, 245, 245, 0.0);
  font-size: 16px;
  outline: none;
}

textarea {
  height: 50px;
  resize: none;
}

.button-wrap {
  width: 100%;
  margin: auto;
}

button {
  height: 33%;
  background-color: rgba(245, 245, 245, 0.5);
  color: #555;
  font-size: 18px;
  border: 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 12px;
  width: 100%;
  outline: none;
}

button:hover {
  background-color: rgba(245, 245, 245, 0.7);
  cursor: pointer;
}
