body{
  height: 100vh;
  font-family: 'Nunito';
  background: #70e1f5;
  background: -webkit-linear-gradient(to top, #ffd194, #70e1f5);
  background: linear-gradient(to top, #ffd194, #70e1f5);
  background-repeat: no-repeat;
  background-size: cover;
}

#chat-window{
  height: 70vh;
  margin-bottom: 10px;
  overflow: auto;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 15px;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: #575ed8;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

.user-input {
  border-radius: 15px;

  width: 98%;
  margin: auto;
}

input{
  margin: auto;
  padding: 10px 0px;
  border: 0;
  display: block;
  width: 95%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.button-wrap {
  width: 95%;
  margin: auto;
}

button{
  background-color: rgba(245, 245, 245, 0.3);
  color: #555;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;

}
